#gritter-notice-wrapper{style: "right: 400px;"}
  = gflash
.content.span16.columns
  .pull-right{:style => "margin-top: -20px;"}
    = image_tag "koolaid-good.png"
  %h1
    #{@office.name} 
  %h3
    Analytics Reporting Page
  %fieldset
    = form_tag :controller => 'ga', :action => 'report' do
      .form-stacked
        = label :report, "Choose a report"
        = select :report, :report, reports_list(), {}
        %br
        = label :report, "Search by agent"
        = select :report, :agent, agents_with_listings_list()#, {include_blank: "Whole Office"}
        %br
        = label :report, "Search for a listing from URL"
        = text_field :report, :listing
        %br
        = label :report, "Time range"
        = select :report, :start_date, options_for_select([ ["one day", "#{1.day.ago.to_date}"], ["one week", "#{1.week.ago.to_date}"], ["two weeks","#{2.weeks.ago.to_date}"], ["one month","#{1.month.ago.to_date}"], ["three month","#{3.months.ago.to_date}"], ["six months","#{6.months.ago.to_date}"] ], selected: 1.month.ago.to_date)
        = hidden_field :report, :office, value: @office.uuid
        = submit_tag "Submit"

  %table.span12.columns
    %th
      %p
        thumbnail
    %th
      %p
        address
    %th
      %p
        listing id
    %th
      %p
        price
    %th
      %p
        page views
    %th
      %p
        unique page views
    %th
      %p
        page views by date

    - if @listings
      - for listing in @listings.results 
        %tr
          %td
            =image_tag listing.image.first["thumb_url"]
          %td
            =listing.location.address
          %td
            =listing.listingid
          %td
            =listing.list_price
          %td
            =@results.map{|result| result.send(:pageviews).to_i if result.uuid.to_i == listing.listingid.to_i }.compact!.sum
          %td
            =@results.map{|result| result.send(:unique_pageviews).to_i if result.uuid == listing.listingid}.compact!.sum
          %td
  - if @columns
    %fieldset
      .results
        %table.span12.columns
          %tr
            - for column in @columns
              %th
                = column.to_s.gsub("_", ' ')
          - for result in @results
            %tr
            - for column in @columns
              %td
                = result.send(column)

    

  %br

  %table.span12.columns
    %th
      Listing ID
    %th
      unique
    %th
      total
    - @listing_page_visits.each do |listing|
      %tr
        %td
          = listing[0]
        %td
          = listing[1]
        %td
          = listing[2]

- if defined? @columns
  = debug @listings.results.first
  = debug params

  #chart_bar
  #chart_pie
  %script{:type => 'text/javascript'}

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

    var listing_views = [
    - @listing_page_visits.each do |listing|
      = "['#{listing[0]}', #{listing[1]}, #{listing[2] - listing[1]}],"
      -#
      -#= "['#{listing_id}' , #{result.pageviews}],"
    ];

    // Create the data table for Site Visits.
    var title = 'Views by Listing ID';
    var data_site_visits = new google.visualization.DataTable();
    data_site_visits.addColumn('string', 'Listing');
    data_site_visits.addColumn('number', 'Unique Views');
    data_site_visits.addColumn('number', 'Page Views');
    data_site_visits.addRows( listing_views );

    // Set chart options
    var options = {
    'title': title,
    'width':400,
    'height':300,
    'isStacked':true
    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.ColumnChart(document.getElementById('chart_bar'));
    var chart2 = new google.visualization.PieChart(document.getElementById('chart_pie'));
    chart.draw(data_site_visits, options);
    -#chart2.draw(data_site_visits, options);

    google.visualization.events.addListener(chart2, 'select', function() {
    var selection = chart2.getSelection();
    var message = '';
    for (var i = 0; i < selection.length; i++) {
    var item = selection[i];
    if (item.row != null && item.column != null) {
    var str = data_site_visits.getFormattedValue(item.row, item.column);
    message += '{row:' + item.row + ',column:' + item.column + '} = ' + str + '\n';
    } else if (item.row != null) {
    var str = data_site_visits.getFormattedValue(item.row, 0);
    message += '{row:' + item.row + ', column:none}; value (col 0) = ' + str + '\n';
    } else if (item.column != null) {
    var str = data_site_visits.getFormattedValue(0, item.column);
    message += '{row:none, column:' + item.column + '}; value (row 0) = ' + str + '\n';
    }
    }
    if (message == '') {
    message = 'nothing';
    }
    console.log( 'You selected ' + message );
    });
    }
-#= debug @stuff
-#- if defined? @results.fields
-#  = debug @results.fields
-#= debug @results.first
