#gritter-notice-wrapper{style: "right: 400px;"}
  = gflash
.content.span16.columns
  .pull-right{:style => "margin-top: -20px;"}
    = image_tag "koolaid-good.png"
  %h1
    #{@office.name} 
  %h3
    Analytics Reporting Page
  %fieldset
    = form_tag :controller => 'ga', :action => 'report' do
      .form-stacked
        = label :report, "Choose a report"
        = select :report, :report, reports_list(), {}
        %br
        = label :report, "Search by agent"
        = select :report, :agent, agents_with_listings_list()#, {include_blank: "Whole Office"}
        %br
        = label :report, "Search for a listing from URL"
        = text_field :report, :listing, :value => ""
        %br
        = label :report, "Time range"
        = select :report, :start_date, options_for_select([ ["one day", "#{1.day.ago.to_date}"], ["one week", "#{1.week.ago.to_date}"], ["two weeks","#{2.weeks.ago.to_date}"], ["one month","#{1.month.ago.to_date}"], ["three month","#{3.months.ago.to_date}"], ["six months","#{6.months.ago.to_date}"] ], selected: 1.month.ago.to_date)
        = hidden_field :report, :office, value: @office.uuid
        = submit_tag "Submit"

  %table.span12.columns
    - if @listings
      - for listing in @listings
        %tr
          %td
            %div{:style => "width:150px;"}
              =image_tag listing.image.first["thumb_url"]
              %br
              =listing.listingid
              %br
              =listing.location.address
              %br
              ="#{listing.location.city}, #{listing.location.state}"
              %br
              %span{:style => "font-weight:bold;"}
                =number_to_currency(listing.list_price, :precision => 0)
          %td
            %div{ :id => "stats_#{listing.listingid}" }
          -#%td
          -#  =@results.map{|result| result.send(:pageviews).to_i if result.uuid.to_i == listing.listingid.to_i }.compact!.sum
          -#%td
          -#  =@results.map{|result| result.send(:unique_pageviews).to_i if result.uuid == listing.listingid}.compact!.sum
          %td
            =link_to  "detailed listing analytics", "#"
            -# -@date_dimension.each do |date|
              %a{href: "#",  data: {date: "#{date[:date]}", pageviews: "#{date[:value][:pageviews]}", unique_pageviews: "#{date[:value][:unique_pageviews]}"} }
            -@results.each do |result|
              - result.date_dimension do |date|
                %li{href: "#",  style: "display: none;", data: {date: "#{date[:date]}", pageviews: "#{date[:value][:pageviews]}", unique_pageviews: "#{date[:value][:unique_pageviews]}"} }
  - if @columns
    %fieldset
      .results
        %table.span12.columns
          %tr
            - for column in @columns
              %th
                = column.to_s.gsub("_", ' ')
          - for result in @results
            %tr
            - for column in @columns
              %td
                = result.send(column)


  %br

- if defined? @columns
  = debug @listings.first
  = debug params

  %script{:type => 'text/javascript'}

    // Load the Visualization API.
    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

    -#var listing_views = [
    - @listing_page_visits.each do |listing|
      - listing_id = listing[0]
      - date_visits_hash = listing[1]
      = "var listing_views_#{listing_id} = ["
      - date_visits_hash.each do |date, values|
        -#= "['#{Date.parse(date).month}/#{Date.parse(date).day}', #{values[1]}, #{values[0] - values[1]}],"
        = "['#{Date.parse(date).month}/#{Date.parse(date).day}', #{values[0]}, #{values[1]}, #{values[2]}],"
      = "]"


      = "var title = \'Page Views for #{listing_id}\';"
      = "var data_site_visits = new google.visualization.DataTable();"
      = "data_site_visits.addColumn('string', 'Date');"
      = "data_site_visits.addColumn('number', 'Map');"
      = "data_site_visits.addColumn('number', 'Gallery');"
      = "data_site_visits.addColumn('number', 'URL');"
      = "data_site_visits.addRows( listing_views_#{listing_id} );"

      = "// Set chart options"
      = "var options = {"
      = " 'title': title,"
      = " 'width':700,"
      = " 'height':220,"
      = " 'isStacked':true"
      = "};"
      = "var chart = new google.visualization.ColumnChart(document.getElementById(\'stats_#{listing_id}\'));"
      = "chart.draw(data_site_visits, options);"


    // Instantiate and draw our chart, passing in some options.
    //var chart = new google.visualization.ColumnChart(document.getElementById('chart_bar'));

    // Create the data table for Site Visits.
    //var title = 'Views by Listing ID';
    //var data_site_visits = new google.visualization.DataTable();
    //data_site_visits.addColumn('string', 'Listing');
    //data_site_visits.addColumn('number', 'Unique Views');
    //data_site_visits.addColumn('number', 'Page Views');
    //data_site_visits.addRows( listing_views );

    // Set chart options
    //var options = {
    //'title': title,
    //'width':800,
    //'height':500,
    //'isStacked':true
    //};

    // Instantiate and draw our chart, passing in some options.
    //var chart = new google.visualization.ColumnChart(document.getElementById('chart_bar'));
    //chart.draw(data_site_visits, options);

    var chart2 = new google.visualization.PieChart(document.getElementById('chart_pie'));
    -#chart2.draw(data_site_visits, options);

    google.visualization.events.addListener(chart2, 'select', function() {
    var selection = chart2.getSelection();
    var message = '';
    for (var i = 0; i < selection.length; i++) {
    var item = selection[i];
    if (item.row != null && item.column != null) {
    var str = data_site_visits.getFormattedValue(item.row, item.column);
    message += '{row:' + item.row + ',column:' + item.column + '} = ' + str + '\n';
    } else if (item.row != null) {
    var str = data_site_visits.getFormattedValue(item.row, 0);
    message += '{row:' + item.row + ', column:none}; value (col 0) = ' + str + '\n';
    } else if (item.column != null) {
    var str = data_site_visits.getFormattedValue(0, item.column);
    message += '{row:none, column:' + item.column + '}; value (row 0) = ' + str + '\n';
    }
    }
    if (message == '') {
    message = 'nothing';
    }
    console.log( 'You selected ' + message );
    });
    }
-#= debug @stuff
-#- if defined? @results.fields
-#  = debug @results.fields
= debug @columns
